body{font-size:12px;}
mad-trees{
	width:100%;
	display:block;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	border-left:1px solid #ccc;
	&>mad-trees{
		margin-left:20px;
		margin-top:10px;

		&:last-child{
			border-bottom:0px;
		}

		position:relative;
		padding-left:4px;

		&:before{

			content:"";
			width:15px;
			position:absolute;
			left:-20px;
			bottom:50%;
			border-bottom:1px solid #ccc;

		}
	}

	&.hide{
		&>mad-trees{
			display:none;
		}
	}
}